.libros_Gallery{
    display: flex;
}

.card {
    margin: 20px;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background: var(--i);
    background-size: cover;
    /* box-shadow: 3px 5px 5px rgba(3, 32, 51, .8); */
    overflow: hidden;
}

.content {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
    opacity: 0;
    transition: .5s;
    margin-top: auto;
}

.content h2, .content a {
    color: rgba(255, 255, 255, .8);
    margin: 10px 0;
}

.card:hover .content {
    opacity: 1;
}

.libros_Gallery .detalles{
    display: flex;
    flex-direction: row;
}

.libros_Gallery .detalles .icon2{
    color: #6C63FF;
}

body.active .libros_Gallery, body.active .bookDetails{
    margin-left: 350px;
    width: auto;
}